/* nav */
.breadcrumb-item a {
  font-size: 12px;
  color: #3a4354 !important;
  opacity: 0.7;
}
/* end nav */

/* banner */
.banner {
  padding: 3rem;
  background-image: url("../images/banner1.svg"),
    linear-gradient(rgba(111, 78, 188, 0.6), rgba(111, 78, 188, 0.6)),
    url("../images/banner1_1.jpeg");
  background-size: 100%, cover, cover;
  background-repeat: no-repeat;
  background-position: bottom, center, 0% 40%;
  color: white;
}

.banner-title {
  font-size: 24px;
  font-weight: bold;
}

.banner-desc {
  font-size: 14px;
  font-weight: lighter;
}

/* end banner */

/* media */
@media (min-width: 576px) {
  .banner {
    border-radius: 10px;
    background-image: linear-gradient(
        rgba(111, 78, 188, 0.6),
        rgba(111, 78, 188, 0.6)
      ),
      url("../images/banner2.jpeg");
  }
}

@media (min-width: 992px) {
  .banner-title {
    font-size: 58px;
    font-weight: bold;
  }

  .banner-desc {
    font-size: 20px;
  }
}
